[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
ibm-watson = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-mail = "*"
flask-login = "*"
flask-bcrypt = "*"
chatterbot = "==1.0.0"
chatterbot-corpus = "==1.2.0"
spacy = "*"
pytz = "*"

[requires]
python_version = "3.7"
