[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
ibm-watson = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
Flask-Login = "*"
Flask-Bcrypt = "*"
flask-mail = "*"
spacy = "*"
pytz = "*"
chatterbot = "==1.0.0"
chatterbot-corpus = "==1.2.0"


[requires]
python_version = "3.7"
