[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
flask = "*"
flask-sqlalchemy = "*"
ibm-watson = "*"
flask-wtf = "*"
flask-login = "*"
basequery = "*"
hashlib = "*"

[requires]
python_version = "3.7"
