{% extends 'base.html' %}

{% block header %}
<header class="masthead" style="background-image: url('/static/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Profile Page</h1>
          <span class="subheading">Welcome {{ current_user.Username }}!</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="container">
  {% if current_user.is_authenticated %}
  <h4>Account Actions:</h4>
  <p><a href="{{ url_for('main.accountview') }}">View Account Information</a></p>
  <p><a href="{{ url_for('main.update') }}">Update Account Information</a></p>
  <p><a href="{{ url_for('main.reset') }}">Password Reset</a></p>


  {% if current_user.userstatus == "User"%}
  
  <p><a type = "button" href = "{{ url_for('main.patient')}}">CONVERT TO patient</a></p>
  <p><a type = "button" href = "{{ url_for('main.therapist')}}">CONVERT TO therapist</a></p>

  {% endif %}

  <p>Member Since: {{ current_user.register_date.strftime("%A %B %d, %Y") }}</p>




  {% else %}




  
  <h4>Dear You:</h4>
  <p>
    Please <a href="{{ url_for('main.login') }}">Login</a> or <a href="{{ url_for('main.register') }}">Register</a>
  </p>
  {% endif %}
</div>

{% endblock %}