{% extends 'base.html' %}

{% block header %}
<header class="masthead" style="background-image: url('/static/img/entry-b.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>List of Affirmations</h1>
            <span class="subheading">Here are all your affirmations</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}


{% block content %}

<div class="container">
    {% for entry in entries %}
    <br>
    <span><b> Affirmation Entry Title: </b>{{entry.AffirmationEntryTitle}}</span><br>
    <span> <b> Affirmation Entry Text: </b>{{entry.AffirmationEntryText}}</span><br>
    {% endfor %}
</div>

{% endblock %}
