{% extends 'base.html' %}

{% block header %}
      <header class="masthead" style="background-image: url('/static/img/entry-b.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Create Journal</h1>
            <span class="subheading">Create an Journal to manage your entries</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

<html>

<head>
    <title>Add Journal</title>
</head>

<body>
    {% block content %}
    <h1 style="color:purple;">This is the create a journal page for the app</h1>
    <div class="journal-entry">
        <form action="{{url_for('main.create_journal')}}" method="post">
            <input type = "text" name = "title" placeholder="Journal Title">

            <button type="submit"> Add Journal </button>
        </form>
    </div>





    {% endblock %}
</body>

</html>
