<!--

{% extends "a_template.html" %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Affirmation {% endblock %}</title>
    </head>
    <body>
        {% block content %}
        <h1 style= "color:green;">This is the view Affirmation page for the app</h1>

        <a type = "button" href = "{{url_for('main.input' ,AffirmationID = 1)}}">Click to go to add page</a>

        <ul>list
            {% for Affirmationentry in Affirmationentries %}
            <li>{{Affirmationentries[Affirmationentry]}} </li>
            {% endfor %}
        </ul>
        {% endblock %}

    </body>
</html>
-->