{% extends 'base.html' %}

{% block header %}
      <header class="masthead" style="background-image: url('/static/img/index-b.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Edit Journal</h1>
            <span class="subheading">you can change the content of this journal</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

<html>
    <head>
        <title>{% block title %} Edit {% endblock %}</title>
    </head>
    <body>
        {% block content%}

        <h1 style= "color:yellowgreen;">This is the edit journal entry page for the app</h1>

        {% for entry in entries %}
        <div class="journal-entry">
            <form action="{{url_for('main.edit' , EntryID = entry.EntryID )}}" method="post">
              <input type="text" name="newtitle" placeholder="{{entry.EntryTitle}}">
              <input type="text" name="newtext" placeholder="{{entry.EntryText}}">
              <button type="submit"> Edit Updated Entry </button>
            </form>
        </div>
        {% endfor %}

        {% endblock %}

    </body>
</html>
