{% extends 'template.html' %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Edit {% endblock %}</title>
    </head>
    <body>
        {% block content%}

        <h1 style= "color:yellowgreen;">This is the edit journal entry page for the app</h1>

      
        <div class="journal-entry">
            <form action="{{url_for('main.edit' , entry )}}" method="post">
              <input type="text" name="newtitle" placeholder="{{EntryTitle}}">
              <input type="text" name="newtext" placeholder="{{EntryText}}">
              <button type="submit"> Edit Updated Entry </button>
            </form>
        </div>
      

        {% endblock %}

    </body>
</html>