{% extends 'base.html' %}

{% block header %}
<header class="masthead" style="background-image: url('/static/img/index-b.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Find a Patient</h1>
                    <span class="subheading">Thanks for Visiting</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<h2>Send request to a Patient</h2>

{% for patient in patients %}

<p> {{patient.patientName}}</p> <a href="{{url_for('main.sendrequest', to = patient.id)}}"> Invite to be my patient </a>

{% endfor %}



{% endblock %}

