{% extends 'base.html' %}

{% block header %}
  <header class="masthead" style="background-image: url('/static/img/index-b.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>It's A Wonderful Journal App</h1>
            <span class="subheading">Thanks for Visiting</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <div class="container">
    {% if current_user.is_authenticated %}
  <h4>Welcome {{ current_user.Username }}</h4>
        <p><a href="{{ url_for('main.account', id = user.id) }}">Your Account</a></p>
        <p><a href="{{ url_for('main.journal') }}">Your Journals</a></p>
  {% else %}
        <h4>Dear You:</h4>
        <p>
        Please <a href="{{ url_for('main.login') }}">Login</a> or <a href="{{ url_for('main.register') }}">Register</a>
        </p>
  {% endif %}
  </div>

{% endblock %}