<!DOCTYPE html>
<html>

<head>
    <title>Journal</title>
</head>

<body>
    <h1 style="color:darkcyan">This is the main journal page</h1>
    <ul>list
        {% for entry in entries %}
        <li>a {{entries[entry]}} <form  action = "{{url_for('main.edit')}}"><button>Edit </button></form>
            <a type = "button" href="{{url_for('main.delete')}}" >Delete</a></li>
        {% endfor %}
    </ul>

    <form method = "post" action = "{{url_for('main.add')}}">
    <button>Add entry</button>
    </form>

   




</body>

</html>