<!--
{% extends 'template.html' %}
<!DOCTYPE html>
<html>

<head>
    <title>Add Affirmation</title>
</head>

<body>
    {% block content %}
    <h1 style="color:purple;">This is the add Affirmation page for the app</h1>
     <div class="affirmation-entry">
        <form action="{{url_for('main.input', AffirmationID = 1 )}}" method="post">
           <input type = "text" name = "Affirmationtitle" placeholder="Affirmation Title">
            <input type="text" name="Affirmationentry" placeholder="What motivates you? ">
            <button type="submit"> Add Affirmation </button>
        </form>
    </div>

    <a type = "button" href = "{{url_for('main.display')}}">view all affirmations</a>



    {% endblock %}
</body>

</html>
-->